body {
  padding-top: 56px;
}
header{
  text-align: center;
  color: white;
  }
body{
  background-color: black;
}
#particles-js{
    z-index: 0;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:black;
    background-size: contain;
    background-repeat: no-repeat;
}
nav{
  font-family: 'Righteous', cursive;
  color: black;
}

#play{
  z-index: 1;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Righteous', cursive;
  background-color: transparent;
 
}
#mainnavbar .navbar-brand{
  color: white ;
  font-size: 1.5rem;
}
#mainnavbar .nav-link {
  color: white;
}
#mainnavbar .nav-toggler-icon {
  color: white;
}
#one{
  margin: 3px;
}
#two{
  margin: 3px;
}
