body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    color:  #ffffff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.line{
    color: #ffffff;
    text-align: center;
    
}
.text-center{
    margin-bottom: 30px;
}